<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColumnDepence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ColumnDepence.Properties.Settings>
            <setting name="LastUsedDatabase" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LastUsedServer" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LastUsedUsername" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LastUsedPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LastUsedTable" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedSP" serializeAs="String">
                <value />
            </setting>
        </ColumnDepence.Properties.Settings>
    </userSettings>
</configuration>